header{
  padding: 40px;
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  background-color: white;
  box-shadow: rgba(30, 30, 93, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: var(--gray-700);
}


header>span{
  color:var(--orange);
  font-style: oblique;
  font-weight: bold;
  font-size: 40px;
}


header>h2{
  font-size: 60px;
  font-family: serif!important;
}


@media(max-width:900px){

  header>p{
    font-size: 17px;
  }

  header{
    padding: 40px 10px;
  }

}


.noticias{
  padding: 4px;
}

.noticia{
  margin: 4px;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 40px;
}

.noticia>div>img{
  width: 310px;
}

.titulo{
  font-size: 36px;
  padding: 4px;
  color: var(--gray-dark);
}

.descripcion{
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
  color: var(--gray-600);
}


.fecha{
   color: var(--gray-500);
}

@media(max-width:1260px){
  .titulo{
    font-size: 26px;
  }
  .descripcion{
    
  }
}


@media(max-width:900px){
  .noticia{
    flex-direction: column;
  }
  .noticia{
    height: auto;
  }
}






.modalNoticia{
    background-color: var(--gray-200);
    position: fixed;
    top:0;
    left: 0;
    padding: 0 40px;
    display: flex;
    /*border-bottom: 220vh solid var(--gray-200);*/
    overflow-y: scroll;
    height: 100vh;
}

.modalNoticia>div>*{
    margin-bottom: 40px;
}

.regresar{
  margin-top: 20px;
  margin-left: auto;
}

.ModalNoticiaInfo{
  padding: 0 20px;
  width: 60%;
}

.publicidadModal1{
  margin-top: 200px;
  width: 20%;
}

.publicidadModal1>img{
  position: sticky;
  top: 20px;
  width: 80%;
}

.publicidadModal2{
  margin-top: 200px;
  width: 20%;
}

.publicidadModal2>img{
  position: sticky;
  top: 20px;
}


.tituloModal{
  font-size: 36px;
  padding: 0 44px;
  color: var(--gray-dark);
}

.descripcionModal{
  padding: 0 44px;
  color: var(--gray-800);
}

@media(max-width:1100px){
    /*.publicidadModal1, .publicidadModal2{
      display: none;
    }*/
    .modalNoticia{
      flex-direction: column;
    }
    .publicidadModal1{
      width: 100%;
      margin-top:0;
    }
     .publicidadModal2{
      width: 70%;
      margin-left: 15%;
      margin-top:0;
    }
    .modalNoticia>div>img{
      margin-bottom: 20px;
    }


    .ModalNoticiaInfo{
      width: 100%;
      padding: 0px;
    }
    .tituloModal{
      font-size: 26px;
      padding: 0px;
    } 
    .descripcionModal{
      padding: 0 4px;
    }

    .regresarBottom1{
        display: none;
    }
    .publicidadModal1>img{
      width: 50%;
    }

}



.display-none{
  display: none;
}


@media(min-width:1100px){
  .regresarBottom2{
    display: none;
  }
}






