header{
  padding: 40px;
  text-align: center;
  margin: 20px 20px 0 20px;
  font-size: 20px;
  background-color: white;
  box-shadow: rgba(30, 30, 93, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

header>h2{
  font-size: 60px;
  font-family: serif!important;
  margin-top:0;
  color: var(--gray-800);
}


header>span{
  color:var(--orange);
  /*font-style: oblique;*/
  font-weight: bold;
  font-size: 40px;
}



@media(max-width:900px){

  header>p{
    font-size: 17px;
  }

  header{
    padding: 40px 4px;
  }

  header>h2{
    font-size: 54px;
  }

  header>span{
    font-size: 30px;
  }

}


.noticias{
  padding: 4px;
  margin-bottom: 50px;
}

.noticia{
  margin: 4px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.noticia>div{
  /*border: 1px solid red;*/
  border-top: 1px solid var(--gray-300);
}



.titulo{
  font-size: 30px;
  padding: 4px;
  color: var(--gray-700);
  text-transform: uppercase;
}

.descripcion{
  height: 118px;
  overflow: hidden;
  padding: 4px;
  color: var(--gray-600);
  /*text-align: left;*/
}

.noticia>div>span{
  color: var(--gray-600);
}


.fecha{
   color: var(--gray-500);
}

.noticia>div>img{
    width: 350px;
    margin-right: 10px;
  }



@media(max-width:1260px){
  .titulo{
    font-size: 26px;
  }
}


@media(max-width:900px){
  .noticia{
    flex-direction: column;
    margin-bottom: 80px;
  }
  .noticia{
    height: auto;
  }

  .noticia>div>img{
    width: 100%;
    margin-right: 0px;
  }
  .titulo{
    font-size: 20px;
  }
  .descripcion{
    font-size: 18px;
  }

  header{
    margin: 10px 10px 0 10px;
  }
}































.modalNoticia{
    background-color: var(--gray-100);
    position: fixed;
    top:0;
    left: 0;
    padding: 0 40px;
    display: flex;
    /*border-bottom: 220vh solid var(--gray-200);*/
    overflow-y: scroll;
    height: 100vh;
}

.modalNoticia>div>*{
    margin-bottom: 40px;
}

.regresar{
  margin-top: 20px;
  margin-left: auto;
  margin-bottom: 27px!important;
}

.ModalNoticiaInfo{
  padding: 0 20px;
  width: 64%;

}

.publicidadModal1{
  margin-top: 86px;
  position: sticky;
  top: 30px;
  width: 18%;
}

.publicidadModal2{
  margin-top: 86px;
  position: sticky;
  top: 30px;
  width: 18%;
}




.tituloModal{
  font-size: 30px;
  padding: 0 44px;
  color: var(--gray-dark);
  background-color: white;
  margin-bottom: 0!important;
  width: 90%;
  margin-left: 5%;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fechaModal{
  margin-bottom: 18px!important;
  background-color: white;
  width: 90%;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.descripcionModal{
  padding: 0 44px;
  color: var(--gray-800);
  font-size: 20px;
  text-align: left;
  margin-bottom: 26px!important;
}

.banner1{
  width: 90%;
}






@media(max-width:1100px){

    .modalNoticia{
      flex-direction: column;
      padding: 0;
    }
    .publicidadModal1{
      width: 90%;
      margin-left: 5%;
      position: static;
      margin-top: 20px;
    }
     .publicidadModal2{
      width: 70%;
      margin-left: 15%;
      margin-top:0;
    }
    .modalNoticia>div>img{
      margin-bottom: 20px;
    }


    .ModalNoticiaInfo{
      width: 100%;
      padding: 0px;
    }
    .tituloModal{
      font-size: 26px;
      padding: 0px 8px;
    } 
    .descripcionModal{
      padding: 0 12px 0 20px;
      font-size: 16px;
      margin-bottom: 14px!important;
      text-align: left;
    }

    .regresarBottom1{
        display: none;
    }
    .publicidadModal1>img{
      width: 50%;
      margin-bottom: 0!important;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

}

@media(max-width:600px){
    .tituloModal{
      font-size: 16px;
    } 
}







.publicidadModal1>img, .publicidadModal2>img, .publicidad4{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.display-none{
  display: none;
}


@media(min-width:1100px){
  .regresarBottom2{
    display: none;
  }
}

.ul{
  padding-left: 26px;
  list-style: disc;
}

.mr-1{
  margin-right: 26px;
}

.sliceAlert{
  color: var(--orange);
  font-family: serif;
  font-style: italic;
  font-weight: 700;
}



