

.navBar{
    position: fixed;
    top:0px;
    left: 0px;
    width: calc(100%);
    margin-bottom: 10px;
}


.menuX{
    color: white;
}


/* rojo */
.menu { 
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px;
    /*background-color: var(--logoColor);*/

    background: linear-gradient(90deg, rgba(63, 115, 235, 1) 0%, rgba(30, 73, 217, 1) 51%, rgba(15, 49, 163, 1) 100%);
    user-select: none;
  

}

/* gris */
.hamburger {
    height: 50px;
    padding:  16px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /*background-color: var(--logoColor);*/
        background: linear-gradient(90deg, rgba(63, 115, 235, 1) 0%, rgba(30, 73, 217, 1) 51%, rgba(15, 49, 163, 1) 100%);

    align-items: center;
    cursor: pointer;
    user-select: none;
}



.menu-bar {
    width: 26px;
    cursor: pointer;
}

.uno,
.dos,
.tres {
    background: #ffffff;
    height: 4px;
}

.dos {
    margin: 4px 0;
}

@media (max-width: 1000px) {
    .menu {
        border-top:1px solid var(--gold);
        position: fixed;
        left: -1100px;
        height: 100dvh;
        justify-content: start;
    }
}


@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }
}


.display {
    flex-direction: column;
    width: 100%;
    left: 0;
    transition: .4s;
}


@media (min-width: 1000px) {
   .display {
        flex-direction: row;
    }
}





.navBar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 10px;
 }
.menu>a:hover   {
   background-color: rgba(0, 0, 0, .2);
   color: white;
}
