footer{
	background-color: var(--gray-dark);
	color: var(--gray-100);
	padding: 10px;
	box-shadow: -2px 195px 0px 200px var(--gray-dark);
}



footer>a{
 color: var(--gray-100);
}

footer>img{
	width: 50%;
	margin-left: 25%;
}


@media(max-width:900px){
	footer{
		font-size: 14px;
	}

	footer>img{
		width: 100%;
		margin-left: 0;
	}
}
